.container {
  padding: 10rem 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
.container h1 {
  font-size: 35px;
  margin-bottom: 5px;
}
.container p {
  font-size: 16px;
  margin-bottom: 20px;
}
.inputDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 40px;
}
.inputDiv input,
.inputDiv button {
  height: 100%;
}
.inputDiv input {
  font-size: 16px;
  width: 260px;
  padding-left: 10px;
}
.inputDiv button {
  background-color: #4472c4;
  color: white;
  border: none;
  width: 90px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 7px;
}
